// 色彩
$accentColor = #3eaf7c; // 全局主色
$textColor = #2a2a2a; // 文字颜色
$borderColor = #eaecef; // 边框颜色
//$codeBgColor= #282c34; // 代码块背景颜色
$arrowBgColor = #ccc; // 箭头背景颜色
$badgeTipColor = #42b983; // 提示徽标背景颜色
$badgeWarningColor = darken(#ffe564, 35%); // 警告标背景颜色
$badgeErrorColor = #ed4014; // 危险徽标背景颜色

// 布局
$navbarHeight = 3.6rem; // 导航栏高度
$sidebarWidth = 20rem; // 侧边栏宽度
$contentWidth = 990px; // 内容区域宽度
$homePageWidth = 1100px; // 主页宽度
$rightMenuWidth = 230px; // 右侧菜单

.theme-mode-light
  --bodyBg: #f4f4f4
  --mainBg: rgba(255,255,255,1)
  --sidebarBg: rgba(255,255,255,.8)
  --blurBg: rgba(255,255,255,.9)
  --customBlockBg: rgba(255,255,255,.9)
  --textColor: #00323c
  --textLightenColor: #0085AD
  --borderColor: rgba(0,0,0,.15)
  // 代码块浅色主题
  //--codeBg: #f6f8fa
  //--codeColor: #24292e
  //codeThemeLight()
  // 行高亮颜色，和代码块浅色主题一起使用，一起注释
  //div[class*="language-"]
  //  .highlight-lines
  //    .highlighted
  //      background-color rgba(200,200,200,.4)
  //  &.line-numbers-mode
  //    .highlight-lines .highlighted
  //      &:before
  //        background-color rgba(200,200,200,.4)
  // 代码块深色主题
  --codeBg: #282C34
  --codeColor: #D4D4D4
  codeThemeDark()
  // 行高亮颜色，和代码块深色主题一起使用，一起注释
  div[class*="language-"]
    .highlight-lines
      .highlighted
        background-color rgba(0,0,0,.66)
    &.line-numbers-mode
      .highlight-lines .highlighted
        &:before
          background-color rgba(0,0,0,.66)
  div[class*="language-"].line-numbers-mode::after  // 代码块的行数和内容分割线颜色
    border-right 1px solid rgba(0, 0, 0, 0.66)


// 广告
$MobileShow = block;


h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  opacity: 1 !important;
}

.custom-block-title {
  display: none;
}


.custom-block.danger {
  background-color: #fdefee;
  border-left: 0.25rem solid #e95f59;
  padding: 10px 16px;
  opacity: .9;
  color: #2A2A2A;
}
